*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../assets/vphBackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

/* Navbar personalizado */
.navbar {
    background: transparent; /* Fondo semi-transparente */
    transition: background 0.3s ease-in-out;
    margin-top: 0px;
    text-align: center;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Elimina márgenes del contenedor */
    padding: 0; /* Elimina padding del contenedor */
}

.navbar-brand img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Efectos en los enlaces de la navbar */
.navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
    font-size: 13px;
}
/* Efecto de subrayado al pasar el mouse */
.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 50%;
    background: rgb(100, 100, 255);
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
    left: 0;
}

.navbar-nav .nav-link:hover {
    color: rgb(178, 100, 255);
    transform: scale(1.1);
}

.card-Title {
    font-size: 24px;
    cursor: pointer;
}

.card-antecedentes,.card-tipos,.card-ciclo{
    border-radius: 10px;
    background: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.card-antecedentes:hover,.card-tipos:hover,.card-ciclo:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, rgb(150, 150, 255), rgb(200, 150, 255));
}
